.links {
    display: flex; 
    justify-content: end; 
    margin-top: 20px;
}
.links img {
    float: left;
    width: 100px;
    height: 36px;
    margin: 15px 15px;
}
.index-link {
    margin-left: 85%;
    margin-top: 20px;
    text-wrap: nowrap;
}

.image-link, .advanced-link, .index-link {
    padding: 5px;
    margin-right: 40px;
    text-decoration: none;
    font-size: larger;
    color: #3079ed;
}

.image-link:hover, .advansed-link:hover, .index-link:hover {
    color: #3c4043;
}

.google-img {
    display: flex;
    justify-content: center;
    margin-top: 30vh;
}
.google-img img {
    width: 272px;
    height: 92px;
}

.ims {
    display: flex;
    justify-content: center;
    margin-top: -20px;
    margin-left: 220px;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    color: #3079ed;
}



.form, .btn {
    display: flex;
    justify-content: center;
}

.text-form {
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    margin-top: 15px;
    position: relative;
    width: 250px;
    min-height: 44px;
    text-align: center;
}

.btn-google-search {
    background-color: #f8f9fa;
    color: #3c4043;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #f8f9fa;
    margin: 11px 4px;
    padding: 0 16px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.btn-image-search {
    background-color: #f8f9fa;
    color: #3c4043;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #f8f9fa;
    margin: 11px 4px;
    padding: 0 16px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.btn-advanced-search {
    user-select: none;
    padding: 0 12px;
    background-color: #4d90fe;
    color: #fff;
    border-radius: 2px;
    border: 1px solid #3079ed;
    margin-top: 20px;
    height: 30px;
    min-width: 120px;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    margin-left: 325px;
}

.btn-IFL {
    background-color: #f8f9fa;
    color: #3c4043;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #f8f9fa;
    margin: 11px 4px;
    padding: 0 16px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.header {
    color: #d93025;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    border-bottom: 1px solid #dfe1e5;
    margin-left: 15px;
}

.advanced-form {
    margin-top: 15px;
    margin-bottom: 30px;
}
.advanced-form > span {
    margin-left: 15px;
    font-size: 22px;
    color: #3c4043;
    font-family: Arial, Helvetica, sans-serif;
}

.AllF {
    margin-left: 15px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #3c4043;
}

.AtW {
    display: inline-block;
    float: left;
    margin-right: 185px;
}

.tEWoP {
    display: inline-block;
    float: left;
    margin-right: 100px;
}

.aOFtw {
    display: inline-block;
    float: left;
    margin-right: 154px;
}

.nOFtw {
    display: inline-block;
    float: left;
    margin-right: 142px;
}





